$qw-background-color: #F6FAFD;
$qw-blue: #0E106A;
$qw-yellow: #FFA600;
$qw-green: #7cd983;
$qw-red: #ED5349;
$qw-white: #FFFFFF;
$qw-grey: #BFBDC1;
$qw-light-grey: #EFEEF0;
$qw-dark-grey: #494D59;
$qw-black: #2E3138;
$qw-yellow-hover: #d58a00;
$qw-blue-hover: #53679B;
$qw-shadow: 0px 3px 6px #6971811A;